{% extends 'main.html' %}

{% block title %}
    Контакты
{% endblock %}

{% block main %}
    <h2>Контакты</h2>
    <h3>Телефоны</h3>
    <ul>
        <li>Директор: XXXXXXXXXX</li>
        <li>Отдел продаж: YYYYYYYYYY</li>
        <li>Бухгалтерия: ZZZZZZZZZZ</li>
    </ul>
    <h3>Электронная почта:</h3>
    <ul>
        <li>директор: <a href="mailto:chief@someserver.ru">chief@someserver.ru</a>;</li>
        <li>отдел продаж: <a href="mailto:chief@someserver.ru">sales@someserver.ru</a>;</li>
        <li>бухгалтерия: <a href="mailto:chief@someserver.ru">finance@someserver.ru</a>;</li>
    </ul>
    <p>По поводу неполадок в работе сайта обращайтесь по адресу
    <a href="mailto:admin@someserver.ru">admin@someserver.ru</a></p>
{% endblock %}

