{% extends 'main.html' %}

{% block title %}
    Оплата и вывоз
{% endblock %}

{% block main %}
    <h2>Оплата и вывоз</h2>
    <h3>Способы оплаты</h3>
    <ul>
        <li>наличный расчет (случае приобретения в розничных магазинах);</li>
        <li>безналичный расчет.</li>
    </ul>
    <h3>Способы вывоза:</h3>
    <ul>
        <li>самовывоз;</li>
        <li>вывоз транспортом фирмы (10% наценки, макс 2500 в пределах МКАД;</li>
    </ul>
    <p>По вопросам касательно оплаты и вывоза оращайтесь в отдел продаж и бухгалтерию (см. <a href="{% url 'contacts' %}">страницу контактов</a>.</p>
{% endblock %}

